.card-slider {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: #0B1D26;
    padding: 40px 0;
    overflow: hidden;
}

.card-container {
    display: flex;
    gap: 30px;
    overflow-x: hidden;
    padding: 20px;
    animation: scroll 30s linear infinite;
    width: fit-content;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% / 2));
    }
}

.card {
    background-color: #fff;
    min-width: 400px;
    height: 300px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 8px;
}

.card h3,
.card p {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
    font-family: 'Arial', sans-serif;
}

.card h3 {
    font-weight: bold;
}

.card p {
    font-weight: normal;
    color: #777;
}

/* Media Queries */
@media (max-width: 768px) {
    .card {
        min-width: 300px;
        height: 250px;
    }

    .card h3,
    .card p {
        font-size: 20px;
    }

    .card-container {
        gap: 20px;
    }
}

@media (max-width: 429px) {
    .card {
        min-width: 250px;
        height: 200px;
    }

    .card h3,
    .card p {
        font-size: 18px;
    }

    .card-container {
        gap: 15px;
        padding: 10px;
    }
}

/* Pausa la animación al hacer hover */
.card-container:hover {
    animation-play-state: paused;
}